#hero_section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: url('../images/hero_section1.jpg') no-repeat 0% 30% fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0 20px;
}
#hero_section::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .6;
    z-index: 3;
}
#hero_section .content{
    position: relative;
    z-index: 4;
    color: #fff;
    text-align: left;
    margin-top: 150px
}
#hero_section .content h1{
    font-size: 28px
}
#hero_section .content .search_box{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
    margin-top: 60px;
}
#properties_contanier{
    margin-top: 100px
}
#properties_contanier .main_heading{
    margin-bottom: 30px
}
#properties_contanier .advanced_search select,
#properties_contanier .advanced_search input{
    margin-bottom: 20px;
    height: 60px;
}
#properties_contanier .advanced_search input{
    display: block;
    font-size: 18px;
    color: #252525;
    border: 1px solid #ced4da;
    width: 100%;
    padding: 0 10px
}

/*properties details page**/
#prop_details{
    margin-top: 60px
}
#prop_details .propertie_info{
    width: 100%;
    background-color: #fff;
    padding: 20px;
}
#prop_details .propertie_info .info_head{
    border-bottom: 1px solid #CBCBCB;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
#prop_details .propertie_info .info_head h3{
    color: #2C599D;
}
#prop_details .heading_p{
    display:inline-block;
    padding: 10px 0;
    border-bottom: 2px solid #F17A39;
    margin-top: 20px;
    margin-bottom: 15px;
}
#prop_details .propertie_info .p_prop li{
    display:inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #CBCBCB;
    font-weight: 500;
    color: #252525
}
#prop_details .propertie_info .p_desc{
    color: #252525;
    line-height: 1.7;
}
#prop_details .propertie_info iframe{
    display: block
}
/*comment section*/
#prop_details .propertie_comment{
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px
}
#prop_details .propertie_comment .comment_box{
    padding: 10px;
    border-bottom: 1px solid #CBCBCB;
    display: flex;
    align-items: center;
    margin-top: 10px
}
#prop_details .propertie_comment .comment_box img{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border-radius: 50%;
}
#prop_details .propertie_comment .commnt_text .commnt_date{
    font-size: 14px;
    color: #4E4E4E;
    margin: 0
}
#prop_details .propertie_comment .commnt_text .commnt_p{
    margin-top: 10px
}

#prop_details .replay_btn{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #163563;
    border: 0;
    outline:#252525;
    margin-top: 20px;
    width: 200px
}
/*owner description*/
#prop_details .owner_info{
    background-color: #fff;
    padding-bottom: 40px
}
#prop_details .owner_info .o_head{
    text-align: center;
    padding: 20px;
    color: #fff;
    background-color: #2C599D;
}
#prop_details .owner_info .agence_img{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 20px auto 10px;
}
#prop_details .owner_info .agence_name{
    color: #000;
    margin: 10px 0 15px
}
#prop_details .owner_info .agence_desc{
    color: #4E4E4E;
    padding: 0 20px;
    font-size: 16px;
    margin-bottom: 30px
}
#prop_details .owner_info .agences_social{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid #CBCBCB;
    margin: 20px 10px
}
#prop_details .owner_info .agences_social i{
    font-size: 25px;
    color:#4E4E4E
}
#prop_details .owner_info .agenc_contact{
    color: #4E4E4E;
}
#prop_details .owner_info .agenc_contact span{
    font-weight: bold;
}
#prop_details .contact_owner .send_btn{
    display: inline-block;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    background-color: #F17A39;
    border: 0;
    outline:#252525;
    margin-top: 20px;
    width: 100%
}
/*reseponsive*/
/*Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) { 
    #hero_section .content{
        margin-top: 500px
    }
    #properties_contanier{
        margin-top: 500px
    }
}
@media (max-width: 767.98px) {
    #prop_details .propertie_info .info_head{
        display: block
    }
    #prop_details .propertie_comment .comment_box img{
        display: inline-block;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        border-radius: 50%;
    }
    #prop_details .propertie_comment .commnt_text .commnt_date{
        font-size: 13px;
    }
    #prop_details .propertie_comment .commnt_text .commnt_p{
        font-size: 14px
    }
}