{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home founder</title>
    <!--links-->
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/3acc62aaef.js" crossorigin="anonymous"></script>
    <!--main style link-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/p.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/blogs.css' %}">
</head>
<body>
    <!--the navbar-->
    <!--the header-->
    {% block content  %}

    {% endblock content %}
    <!--footer-->
    <footer id="footer">
        <div class="container-fluid" id='con'>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-instagram fa-2x"></i>
            <i class="fab fa-whatsapp fa-2x"></i>
            <i class="fab fa-twitter fa-2x"></i>
            <i class="fab fa-pinterest-p fa-2x"></i>
        </div>
        <div class="container">
            <div class="top_footer text-center mb-5">
                <img src="{%static 'images/logo.png'%}"alt="">
                <p>Here you will find you home dream</p>
                <div class="media_icon">

                </div>
            </div>
            <div class="row">


                <div class="col-6">

                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><a href="{% url 'app:home' %}">Home</a></li>
                                <li><a href="{% url 'app:properties' %}">Poperties</a></li>
                                <li><a href="{% url 'app:blogs' %}">Blogs</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 our-services">
                            <ul>
                                <li><a href="#">Our services</a></li>
                                <li><a href="{% url 'app:status' 'rent' %}">for rent</a></li>
                                <li><a href="{% url 'app:status' 'sell' %}">for sell</a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>


                <div class="col-6">

                    <div class="row">

                        <div class="col-md-6 mb-5">
                            <ul>
                                <li><a href="{% url 'app:properties' %}">lastest properties</a></li>
                                <li><a href="#">privacy</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <h6>E-mail</h6>
                            <p>somthing@gmail.com</p>
                            <h6>Adress</h6>
                            <p>3015 Grand Ave, Coconut Grove, Merrick Way, FL 12345 </p>
                        </div>
                        
                    </div>
                </div>

            </div>


            <p class="copy_right">
                copyright2020  All right reserved
            </p>
        </div>
    </footer>

    <script src="{% static 'js/jQuery v3-4-1.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    
    


    {% block script%}
    {%endblock%}
</body>
</html>